<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sherlock Holmes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/stylesheets/additional.css" rel="stylesheet">
</head>


<body>

    <div>
        <header>
            <!--Navigation Bar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-4">
                <div class="container-fluid">
                    <!--Logo icon and name-->
                    <img src="/images/sh.jpg" width="30" height="30" alt="Sherlock">
                    <a class="navbar-brand" href="#image-sh">SHERLOCK HOLMES</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                        </span>
                    </button>
                    <div class="collapse navbar-collapse  align-center" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll "
                            style="--bs-scroll-height: 100px;">
                            <!--About-->
                            <li class="nav-item">
                                <a class="nav-link" href="#About">About</a>
                            </li>
                            <!--Author-->
                            <li class="nav-item">
                                <a class="nav-link" href="#Author">Author</a>
                            </li>
                            <!--Books Droopdown-->
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                    id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false"> Books </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#Novels">Novels</a></li>
                                    <li><a class="dropdown-item" href="#Stories">Stories</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--Login Button-->
                        <a href="/login">
                            <button class="btn btn-outline-success mx-3" type="submit">Login
                            </button>
                        </a>
                        <a href="/signup">
                            <button class="btn btn-outline-success " type="submit">Sign up
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        </header>


        <!--Image and text-->
        <div class="text-center container-fluid my-0" id="image-sh">
            <img src="/images/backdrop.jpg " class="img-fluid sh img-responsive w-100" alt="Responsive image ">
            <h1 class="sherl text-center"> SHERLOCK HOLMES </h1>
            <h6 class="bio "> 221B Baker Street London </h6>
            <h2 class="quote ">"Science of Deduction "</h2>
        </div>

        <!--About heading -->
        <h2 class="my-5 pt-5" id="About">ABOUT</h2>
        <hr class="py-4 aboutline">

        <!--About paragraph-->
        <p class="about px-5 my-5 px-lg-5 mx-auto justify-content-center w-75 pb-2 ">
            Sherlock Holmes is a fictional detective created by British author Arthur Conan Doyle. Referring to himself
            as a "consulting detective " in the stories, Holmes is known for his proficiency with observation,
            deduction, forensic science and logical reasoning
            that borders on the fantastic, which he employs when investigating cases for a wide variety of clients,
            including Scotland Yard. First appearing in print in 1887's A Study in Scarlet, the character's popularity
            became widespread with the
            first series of short stories in The Strand Magazine, beginning with "A Scandal in Bohemia " in 1891;
            additional tales appeared from then until 1927, eventually totalling four novels and 56 short stories. All
            but one[a] are set in the
            Victorian or Edwardian eras, between about 1880 and 1914. Most are narrated by the character of Holmes's
            friend and biographer Dr. John H. Watson, who usually accompanies Holmes during his investigations and often
            shares quarters with
            him at the address of 221B Baker Street, London, where many of the stories begin.
        </p>
        <p class="about px-5 my-5 px-lg-5 mx-auto w-75 pb-2 ">
            Detection is, or ought to be, an exact science and should be treated in the same cold and unemotional
            manner. You have attempted to tinge it [A Study in Scarlet] with romanticism, which produces much the same
            effect as if you worked a love-story or an
            elopement into the fifth proposition of Euclid. Some facts should be suppressed, or, at least, a just sense
            of proportion should be observed in treating them. The only point in the case which deserved mention was the
            curious analytical
            reasoning from effects to causes, by which I succeeded in unravelling it.
        </p>

        <!--Author heading -->
        <h2 class="my-5 pt-5" id="Author">AUTHOR</h2>
        <hr class="py-4 aboutline">

        <!--Author paragraph-->
        <p class="about px-5 my-5 px-lg-5 mx-auto justify-content-center w-75 pb-2 ">
            Arthur Conan Doyle (born May 22, 1859, Edinburgh, Scotland—died July 7, 1930, Crowborough,
            Sussex, England) was a Scottish writer best known for his creation of the detective
            Sherlock Holmes—one of the most vivid and enduring characters in English fiction.
            Conan Doyle, the second of Charles Altamont and Mary Foley Doyle’s 10 children, began
            seven years of Jesuit education in Lancashire, England, in 1868. After an additional year
            of schooling in Feldkirch, Austria, Conan Doyle returned to Edinburgh. Through the
            influence of Dr. Bryan Charles Waller, his mother’s lodger, he prepared for entry into the
            University of Edinburgh’s Medical School. He received Bachelor of Medicine and Master of
            Surgery qualifications from Edinburgh in 1881 and an M.D. in 1885 upon completing his
            thesis, “An Essay upon the Vasomotor Changes in Tabes Dorsalis.”
        </p>
        <p class="about px-5 my-5 px-lg-5 mx-auto w-75 pb-2 ">
            While a medical student, Conan Doyle was deeply impressed by the skill of his professor,
            Dr. Joseph Bell, in observing the most minute detail regarding a patient’s condition.
            This master of diagnostic deduction became the model for Conan Doyle’s literary creation,
            Sherlock Holmes, who first appeared in A Study in Scarlet, a novel-length story published
            in Beeton’s Christmas Annual of 1887. Other aspects of Conan Doyle’s medical education
            and experiences appear in his semiautobiographical novels, The Firm of Girdlestone (1890)
            and The Stark Munro Letters (1895), and in the collection of medical short stories Round
            the Red Lamp (1894). (See also Sherlock Holmes: Pioneer in Forensic Science.)
            Conan Doyle’s creation of the logical, cold, calculating Holmes, the “world’s first
            and only consulting detective,” sharply contrasted with the paranormal beliefs Conan
            Doyle addressed in a short novel of this period, The Mystery of Cloomber (1889).
        </p>

        <div class="card m-5 p-5 charac shadow w-75 mx-auto">
            <div class="row ">
                <div class="col-md-2">
                    <img src="/images/shpr.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">SHERLOCK HOLMES</h5>
                        <p class="card-text"> The main protagonist of the stories, Sherlock Holmes is a private
                            detective with a knack for seeing details that many people often miss out. He is consulted
                            by many different people throughout the various stories to help solves crimes and mysteries.
                            He shares an apartment on 221B Baker Street with his close friend and companion, Dr. Watson.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5 p-5 charac w-75 mx-auto ">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="/images/shpr.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">DR WATSON</h5>
                        <p class="card-text"> Also known as Dr. Watson, most of the short stories in this compilation
                            are told in a first-person narrative from his point of view. He is certified medical doctor
                            and joined the British Army as an assistant surgeon after receiving his medical degree. He
                            was wounded in action and discharged with a monthly pension. He is a close friend of
                            Sherlock Holmes and the pair is often together.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5 p-5 charac w-75 mx-auto ">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="/images/shpr.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title"> INSPECTOR G. LESTRADE </h5>
                        <p class="card-text">A common character in a number of Sherlock Holmes books, he is a detective
                            at Scotland Yard. He is viewed as lacking in imagination by Holmes and frequently consults
                            Holmes about cases he is unable to solve.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5 p-5 charac w-75 mx-auto ">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="/images/shpr.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">MRS HUDSON</h5>
                        <p class="card-text"> Mrs. Hudson is the landlady of 221B Baker Street, the London residence
                            where Sherlock Holmes and Dr. Watson live in many of the stories. In the short story "The
                            Adventure of the Naval Treaty," Holmes says "Her cuisine is a little limited, but she has as
                            good an idea of breakfast as a Scotchwoman,"[3] which some readers have taken to mean that
                            she is Scottish
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-group row m-5 pt-5" id="Novels">
            <div class="card col-lg-3 col-md-2" id="novcard">
                <img src="/images/n1.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">A study in Scarlet</h5>
                    <p class="card-text">Sherlock Holmes is a fictional detective created by British author Arthur Conan
                        Doyle. Referring to himself as a "consulting detective " in the stories, Holmes is known for his
                        proficiency with observation, deduction, forensic
                        science and logical</p>
                </div>
            </div>
            <div class="card col-lg-3 col-md-2" id="novcard">
                <img src="/images/n2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Sign of Four</h5>
                    <p class="card-text">Sherlock Holmes is a fictional detective created by British author Arthur Conan
                        Doyle. Referring to himself as a "consulting detective " in the stories, Holmes is known for his
                        proficiency with observation, deduction, forensic
                        science and logical</p>
                </div>
            </div>
            <div class="card col-lg-3 col-md-2" id="novcard">
                <img src="/images/n3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Hound of Baskervilles</h5>
                    <p class="card-text">Sherlock Holmes is a fictional detective created by British author Arthur Conan
                        Doyle. Referring to himself as a "consulting detective " in the stories, Holmes is known for his
                        proficiency with observation, deduction, forensic
                        science and logical</p>
                </div>
            </div>
            <div class="card col-md-2 col-lg-3" id="novcard">
                <img src="/images/n4.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">The Valley of Fear</h5>
                    <p class="card-text">Sherlock Holmes is a fictional detective created by British author Arthur Conan
                        Doyle. Referring to himself as a "consulting detective " in the stories, Holmes is known for his
                        proficiency with observation, deduction, forensic
                        science and logical</p>
                </div>
            </div>
        </div>

        <!--Quiz Button-->
        <div class="text-center  my-5 quizdiv ">
            <a href="/quiz">
                <button type="button " class="btn btn-outline-success my-2 my-sm-0 quizbtn py-3 px-4 ">Start QUIZ
                </button>
            </a>
        </div>


        <!--Footer-->
        <footer class="bg-dark text-center text-white ">
            <div class="container p-4 pb-0 foot ">
                <section class="mb-4 ">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                            class="fab fa-facebook-f "></i></a>
                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                            class="fab fa-twitter "></i></a>
                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                            class="fab fa-google "></i></a>
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                            class="fab fa-instagram "></i></a>
                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                            class="fab fa-linkedin-in "></i></a>
                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                            class="fab fa-github "></i></a>
                </section>
            </div>
            <img src="/images/fo6.jpg" class="w-100">

            <!-- Copyright -->
            <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
                © 2020 Copyright:
                <a class="text-white">sherlock.com</a>
            </div>
        </footer>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js "
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT "
        crossorigin="anonymous "></script>

</body>
</html>